div#myModal {
    width: 90% !important;
    height: 85%;
    top: 0 !important;
    left: 0;
    margin: 5% 5% 5% 5%;
    padding: 0px;
    font-family: proxima-nova;
    position: fixed;
}

div#load_content {
    width: auto;
    height: 100%;
}

#modal-loader{
  position: fixed;
  font-size: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  z-index: 99999;
  display: block;
  visibility: hidden;
}
.modal_content{
    background-color: #fff;
    height: 100%;
  }

  h1.heading, h2.heading, h3.heading, h4.heading, h5.heading, h6.heading{

      color: #999;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 5px;
  }

  h5.heading:after {
    content: " "; display: table; clear: both;
  }

  h5.heading span { float: left; width: 90.7%; position: relative; top: 5px; }

  h4.heading .fa, h5.heading .fa{
      color: #999;
      margin-right: 2%;
  }

  .fa.left{
      position: absolute;
      top: calc(50% - 10px);
      left: calc(2% - 5px);
  }

  .fa.right{
      position: absolute;
      top: calc(50% - 10px);
      left: calc(61% - 5px);
  }

  .arrow{
      cursor: pointer;
      font-size: 200% !important;
      color: #fff;
      background: rgba(0,0,0,0.8);
      padding: 20px 10px;
  }

  .arrow:hover{
      color: #fb0455;
  }

  .img_full {
    display: inline-block;
    width: 65%;
    height: 100%;
    background: #000;
    text-align: center;
}

.img_full_width {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #000;
    text-align: center;
}

.img_full img{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.img_full_width img{
    max-height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.img-holder {
  width: 65%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center; /* Align center inline elements */
  font: 0/0 a;
}

.img-holder-width{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center; /* Align center inline elements */
  font: 0/0 a;
}

.img-holder-width:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.img-holder:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.img_meta {
  display: inline-block;
  height: 100%;
  width: 30%;
  float: right;
  position: relative;
  margin: 2.5%;
}

.section{
    margin-bottom: 10%;
    overflow: hidden;
}

.img_tags p {
  padding: 2% 0 0;
  color: #4d4d4d;
  font-size: 90%;
  float: left;
}

.vendor_profile{
    padding: 2% 0 0;
    margin-top: 2%;
    overflow: hidden;
}

.vendor_profile + .vendor_profile{
  margin-top: 4%;
}


.vendor_details{
  display: inline-block;
  float: left;
  max-width: 78%;
}

.vendor_image{
    display: inline-block;
    margin-right: 2%;
    float: left;
    max-width: 20%;
}

.circular{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    //box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    //-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    //-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.vendor_name{
  display: block;
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: 400;
}

.vendor_name a{
  color: #fb0455;
  font-size: 16px;
  font-weight: 600;
}

.vendor_type{
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: proxima-nova;
}

.vendor_type a{
 color: #4d4d4d; 
}

.other-images p{
  font-size: 14px;
  color: #4d4d4d;
  padding-left: 5%;
}

.other-images > div{
  height: 70px;
  padding: 0px 10px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.hg-portfolio-item .other-images li {
  max-width: 25%;
  margin-right: 2% !important;
  overflow: hidden;
  max-height: 15%;
}

.hg-portfolio-item .other-images img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 780px){
        div#myModal{
          min-height: 90%;
          overflow: auto;
          margin: 18% 5% 1%;
        }

        .img_full{
          width: 100%;
          height: 90%;
          display: block;
        }

        .img-holder{
          width: auto;
          max-width: 100%;
          height: 90%;
        }

        .img_full img{
          max-width: 100%;
          max-height: 100%;
        }

        .img_meta{
          width: 98%;
          height: auto;
          display: block;
          margin: 0 1%;
        }

        .fa.right{
          left: initial;
          right: 2%;
        }

        .section {
          margin: 3%;
          height: auto;
          display: block;
          float: left;
          width: 94%;
        }

        .img_tags {
          width: 30%;
        }

        .img_tags p{
          font-size: 70%;
        }

        .img_vendor.section {
          width: 56%;
        }

        .vendor_image img{
          margin-top: 0px;
        }

        .circular{
            width: 40px;
            height: 40px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
        }

        .vendor_name{
          font-size: 12px;
        }

        .vendor_type{
          font-size: 11px;
        }

      }

      @media (max-width: 480px){

        .img_vendor.section, .img_tags.section{
          width: 94%;
        }

      }